:root {
  --padding-width-percent: 13%;
  --tablet-padding-width-percent: 3%;
  --text-color: #535353;
  --text-price-color: #c36161;
  --text-quantity-color: #9fa7ab;
  --website-main-color: #74ac74;
  --background-color: rgb(240, 240, 240);
  --break-line-color: #efefef;
  --product-info-background-color: #f9f9f9;

  --tablet-ipad-pro-width-size: 1024px;
}

.product-detail-container {
  width: 100vw;
  height: 100%;
  min-height: 600px;
  background-color: var(--background-color);
}

.product-detail-container > .product-detail-wrapper {
  width: 100%;
  height: 100%;
}

/*-------------- Product Detail Item */
.product-detail-item-container {
  padding: 0 var(--padding-width-percent) 0 var(--padding-width-percent);
}

.product-detail-item-container > .product-detail-item-wrapper {
  height: 580px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-image-container {
  flex: 1;
  height: 100%;
  padding: 30px;
  border-right: 2px solid var(--break-line-color);
}

.product-detail-image-wrapper {
  height: 100%;
}

.main-image-container {
  height: 388px;
  width: 388px;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.option-images-container {
  height: 120px;
  margin-top: 15px;
}

.option-images-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.option-image-item {
  width: 73px;
  height: 90%;
  margin: 0 2px 0 2px;
}

.option-image-item:hover {
  border: 2px solid var(--website-main-color);
}

.option-image-item > .option-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail-content-container {
  flex: 2;
  padding: 40px;
  height: 100%;
}

.product-detail-content-container > .product-detail-content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.product-title-container {
  margin-bottom: 10px;
}

.product-title-container > .product-title-value {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.product-parameters-container {
  width: 100%;
  flex: 0.5;
  padding-bottom: 10px;
}

.product-price-container {
  flex: 1;
}

.product-price-describe {
  font-size: medium;
  color: var(--text-color);
}

.product-price-value {
  font-size: 26px;
  font-weight: 600;
  color: var(--text-price-color);
}

.product-quantity-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.product-quantity-container > .product-quantity-describe {
  font-size: medium;
  font-weight: 500;
  color: var(--text-color);
}

.product-quantity-container > .product-quantity-box-container {
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 20px;
}

.product-quantity-container
  > .product-quantity-box-container
  > .product-quantity-box {
  flex: 1;
  border: 1.5px solid var(--text-quantity-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-quantity-box > .quantity-dec-btn-container {
  flex: 1;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #f9f9f9;
}

.product-quantity-box > .quantity-inc-btn-container {
  flex: 1;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #f9f9f9;
}

.icon-quantity {
  margin-left: 8px;
  color: var(--text-quantity-color);
}

.product-quantity-value-container {
  flex: 1.3;
}

.product-quantity-value-container > .product-quantity-value {
  width: 100%;
  border: none;
  text-align: center;
  color: var(--text-color);
}

.buy-method-container {
  flex: 1.5;
  width: 100%;
}

.add-to-cart-btn {
  margin-right: 10px !important;
  background-color: white !important;
  color: var(--website-main-color) !important;
  border: 2px solid var(--website-main-color) !important;
}

.buy-now-btn {
  margin-right: 10px !important;
  background-color: var(--website-main-color) !important;
  color: white !important;
  border: 2px solid var(--website-main-color) !important;
}

/* IPAD PRO */
@media (max-width: 1024px) {
  .product-detail-item-container {
    padding: 0 var(--tablet-padding-width-percent) 0
      var(--tablet-padding-width-percent);
  }
}

/* IPAD */
@media (max-width: 768px) {
  .product-detail-image-container {
    flex: 1;
    height: 100%;
    padding: 30px 10px 30px 10px;
    border-right: 2px solid var(--break-line-color);
  }

  .main-image-container {
    height: 250px;
    width: 250px;
  }

  .option-images-container {
    height: 70px;
    margin-top: 15px;
  }

  .option-image-item {
    width: 50px;
    height: 90%;
    margin: 0 2px 0 2px;
  }

  .product-detail-item-container > .product-detail-item-wrapper {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-title-container > .product-title-value {
    font-size: 20px;
  }

  .product-quantity-container > .product-quantity-box-container {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
  }

  .buy-method-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

/* IPHONE X */
@media (max-width: 414px) {
  .product-detail-item-container > .product-detail-item-wrapper {
    flex-direction: column;
    height: auto;
  }  

  .product-detail-image-container {
    border: none;
    padding: 0px;
  }

  .product-title-container > .product-title-value {
    font-size: 16px;
  }

  .product-detail-content-container {
    padding: 5px;
  }

  .product-price-describe {
    display: none;
  }

  .product-price-value {
    font-size: 20px;
  }

  .buy-method-container {
    flex: 0.5;
    padding: 10px 0 10px 0;
  }

  .add-to-cart-btn {
    font-size: 10px !important;
  }

  .buy-now-btn {
    font-size: 10px !important;
  }
}
