/* Binh Css */

/* Huy Css */
.admin-background {
  background-color: #e5e9ec;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.admin-toolbar-setting {
  margin-left: auto;
  margin-right: 0;
}

.right-wrapper {
  display: flex;
  justify-content: flex-end;
}

.custom-link {
  text-decoration: "none";
}

.custom-link:hover {
  text-decoration: underline;
}

.category-modal {
  width: 300px;
}

.swal2-popup {
  font-size: 0.8rem !important;
}

.swal2-container {
  z-index: 3000 !important;
}

.empty-data-text {
  text-align: center;
  color: gray;
  padding: 18px;
}

