/* Binh Css */

/* Huy Css */
.admin-background {
  background-color: #e5e9ec;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.admin-toolbar-setting {
  margin-left: auto;
  margin-right: 0;
}

.right-wrapper {
  display: flex;
  justify-content: flex-end;
}

.custom-link {
  text-decoration: "none";
}

.custom-link:hover {
  text-decoration: underline;
}

.category-modal {
  width: 340px;
}

.swal2-popup {
  font-size: 0.8rem !important;
}

.swal2-container {
  z-index: 3000 !important;
}

.empty-data-text {
  text-align: center;
  color: gray;
  padding: 18px;
}

.modal-image-frame {
  border-radius: 8px;
  height: 200px;
  border: 2px dashed lightgray;
  text-align: center;
}

.modal-image-frame img {
  margin-top: 10px;
  width: 200px;
}

.modal-image-frame .upload-template {
  font-size: 1.6rem;
  font-weight: 700;
  color: lightgray;
  margin-top: 22px;
}

.modal-image-frame #material-button-label {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: none;
}

.modal-image-frame #material-button-label span {
  margin-left: 4px;
}

.addprod-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.img-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-img {
  height: 100%;
  width: auto;
}

.img-wrapper:hover {
  cursor: pointer;
  opacity: 0.8;
}

.img-broke-wrapper {
  color: gray;
}

.one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.two-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.three-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-item-manage {
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
}

.product-item-image-wrapper {
  height: 60px;
  width: 100%;
  background-color: lightgray;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-item-image {
  height: 100%;
  width: auto;
}

.parameter-column {
  height: 816px;
  border-left: 3px solid #242a3a;
  border-bottom: 1px solid lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.parameter-column::-webkit-scrollbar,
.special-tag-table-contain::-webkit-scrollbar {
  width: 4px;
}

.parameter-column::-webkit-scrollbar-track,
.special-tag-table-contain::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

.parameter-column::-webkit-scrollbar-thumb,
.special-tag-table-contain::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 16px;
}

.parameter-column::-webkit-scrollbar-thumb:hover,
.special-tag-table-contain::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 199, 199);
}

.detail-product-item {
  border-top: 1px solid gray;
  max-height: 70px;
}

.col-border-left {
  border-left: 1px solid rgb(199, 199, 199);
}

.receipt-detail-container {
  background-color: #dceeee;
}

.link-text:hover {
  cursor: pointer;
}

.link-text:hover > span {
  text-decoration: underline;
}

.box-tag-image-template-wrapper {
  border-radius: 10px;
  border: 2px dashed lightgray;
  width: 100%;
}

.box-tag-image-wrapper {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.box-tag-image {
  width: auto;
  height: 100%;
}

.row-border-bottom {
  border-bottom: 1px solid rgb(199, 199, 199);
}

.MuiTabs-root {
  overflow: unset !important;
}

.login-page .login-header {
  padding: 10px;
}

.login-page .login-body {
  background-color: #3396b5;
  height: 550px;
}

.login-page .login-body .login-form {
  background-color: white;
  margin-top: 16%;
  border-radius: 5px;
  padding: 3rem;
  margin-left: 8%;
  margin-right: 8%;
}

.login-page .login-body .register-form {
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  padding: 3rem;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.rrd-custom-link {
  text-decoration: none;
}

.special-tag-table-row {
  border-top: 1px solid lightgray;
}

.special-tag-table-row:hover {
  background-color: rgb(238, 238, 238);
}

.small-img-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.special-tag-table-contain {
  height: 290px;
  overflow-y: scroll;
}

.break-long-text-line {
  word-wrap: break-word;
}
