/* Binh Css */

/* Huy Css */
.admin-background {
  background-color: #e5e9ec;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.admin-toolbar-setting {
  margin-left: auto;
  margin-right: 0;
}

.right-wrapper {
  display: flex;
  justify-content: flex-end;
}

.custom-link {
  text-decoration: "none";
}

.custom-link:hover {
  text-decoration: underline;
}

.category-modal {
  width: 300px;
}

.swal2-popup {
  font-size: 0.8rem !important;
}

.swal2-container {
  z-index: 3000 !important;
}

.empty-data-text {
  text-align: center;
  color: gray;
  padding: 18px;
}

.modal-image-frame {
  border-radius: 8px;
  height: 200px;
  border: 2px dashed lightgray;
  text-align: center;
}

.modal-image-frame img {
  margin-top: 10px;
  width: 200px;
}

.modal-image-frame .upload-template {
  font-size: 1.6rem;
  font-weight: 700;
  color: lightgray;
  margin-top: 22px;
}

.modal-image-frame #material-button-label {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: none;
}

.modal-image-frame #material-button-label span {
  margin-left: 4px;
}

.addprod-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.img-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-img {
  height: 100%;
  width: auto;
}

.img-wrapper:hover {
  cursor: pointer;
  opacity: 0.8;
}

.img-broke-wrapper {
  color: gray;
}

.one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.three-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-item-manage {
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
}

.product-item-image-wrapper {
  height: 60px;
  width: 100%;
  background-color: lightgray;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-item-image {
  height: 100%;
  width: auto;
}

.parameter-column {
  height: 816px;
  border-left: 3px solid #242a3a;
  border-bottom: 1px solid lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-product-item {
  border-top: 1px solid gray;
}

.col-border-left {
  border-left: 1px solid gray;
}

.receipt-detail-container {
  background-color: #dceeee;
}
